.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-container {
  max-width: 800px;
  margin: 20px auto;
}
.input-name {
  margin: 15px 0;
}
.input-name input {
  padding: 5px;
}
.input-name button {
  padding: 5px;
  margin-left: 10px;
}

